body{
  background-color: #f0f0f0;
  font-family: microsoft JhengHei;
}

table{
  /* border: solid 1px green; */
  position: relative;
  width: 100%;
  margin-left: auto;
  border-collapse:separate;
  border-spacing: 0px 10px;
  border="1"
  border-radius: 10px;
}

table th,td{
  /* border: solid 1px blue; */
  padding: 18px 30px;
  margin-left: 20px;
  text-align: center;
}

tr.list{
  background-color: white;
}

tr input{
  width: 20px;
  height: 20px;
}

td a{
  display: block;
}

.search_area{
  width: 80%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-bottom: 50px;
  margin-top: 50px;

  /* left: 10%; */
  /* border: solid 2px; */
}

.search_area input#search{
  width: 100%;
  height: 40px;
  /* border: solid 1px; */
  font-size: 10px;
  float: left;
  color: #63717f;
  padding-left: 10px;
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px; */
  border-radius: 20px;
  display: block;
  border: solid 1px;


  /* -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease; */
  transition: background .55s ease;
}

.search_area input#search::-webkit-input-placeholder {
   color: #65737e;
}

.search_area input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.search_area input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.search_area input#search:-ms-input-placeholder {
   color: #65737e;
}

.search_area .searchIcon{
  max-width: auto;
/*   border: solid 2px; */
  display: fixed;
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 1;
  color: #4f5b66;
}

/* span.searchIcon{ */
/*   max-width: auto; */
/*   border: solid 2px; */
/*   display: fixed; */
/*   position: absolute; */
/*   right: 10px; */
/*   top: 8px; */
/*   z-index: 1; */
/*   color: #4f5b66; */
/* } */

.search_area input#search:hover, .search_area input#search:focus, .search_area input#search:active{
    outline:none;
    background: #f0f0f0;
  }
